body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

#status {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.status-200 {
    color: #009900;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}